<?xml version="1.0"?>
<robot name="auv"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find auv_control_demos)/xacro/individual.urdf.xacro" />
  <xacro:include filename="$(find auv_control_demos)/xacro/individual.model.xacro" />
  <xacro:include filename="$(find auv_control_demos)/xacro/individual.ros2_control.xacro" />

</robot>
