<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="demo_hardware"
                type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="calculate_dynamics">false</param>
    </hardware>

    <joint name="x">
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="y">
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="z">
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="rx">
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="ry">
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="rz">
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="thruster_1_joint">
      <command_interface name="pwm" />
    </joint>
    <joint name="thruster_2_joint">
      <command_interface name="pwm" />
    </joint>
    <joint name="thruster_3_joint">
      <command_interface name="pwm" />
    </joint>
    <joint name="thruster_4_joint">
      <command_interface name="pwm" />
    </joint>
    <joint name="thruster_5_joint">
      <command_interface name="pwm" />
    </joint>
    <joint name="thruster_6_joint">
      <command_interface name="pwm" />
    </joint>
    <joint name="thruster_7_joint">
      <command_interface name="pwm" />
    </joint>
    <joint name="thruster_8_joint">
      <command_interface name="pwm" />
    </joint>
  </ros2_control>
</robot>
