name: Continuous Integration

on:
  push:
    branches:
      - iron
  pull_request:
  workflow_dispatch:

env:
  CLANG_TIDY: true

jobs:
  test:
    name: Test Implementation
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        env:
          - ROS_DISTRO: iron
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run ROS Industrial CI
        uses: ros-industrial/industrial_ci@master
        env:
          ROS_DISTRO: ${{ matrix.env.ROS_DISTRO }}
          CXXFLAGS: -Wall -Wextra -Wpedantic
          CLANG_TIDY: true
          UPSTREAM_WORKSPACE: ros2.repos
          AFTER_SETUP_UPSTREAM_WORKSPACE: vcs pull $BASEDIR/upstream_ws/src
          AFTER_SETUP_DOWNSTREAM_WORKSPACE: vcs pull $BASEDIR/downstream_ws/src
