<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="testbot">

  <link name="base_footprint" />

  <link name="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <joint name="x" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="y" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="z" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="rx" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="ry" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="rz" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="thruster1_joint" type="continuous" ccw="true">
    <origin rpy="-1.571 1.571 -0.785" xyz="0.14 -0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <joint name="thruster2_joint" type="continuous" ccw="true">
    <origin rpy="-1.571 1.571 -2.356" xyz="0.14 0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <joint name="thruster3_joint" type="continuous" ccw="false">
    <origin rpy="-1.571 1.571 0.785" xyz="-0.15 -0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <joint name="thruster4_joint" type="continuous" ccw="false">
    <origin rpy="-1.571 1.571 2.356" xyz="-0.15 0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <joint name="thruster5_joint" type="continuous" ccw="true">
    <origin rpy="0 0 0" xyz="0.118 -0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <joint name="thruster6_joint" type="continuous" ccw="false">
    <origin rpy="0 0 0" xyz="0.118 0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <joint name="thruster7_joint" type="continuous" ccw="false">
    <origin rpy="0 0 0" xyz="-0.118 -0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <joint name="thruster8_joint" type="continuous" ccw="true">
    <origin rpy="0 0 0" xyz="-0.118 0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster" />
    <axis xyz="0 0 -1" />
    <limits effort="-1" velocity="-1" />
  </joint>

  <ros2_control name="testing" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="calculate_dynamics">true</param>
    </hardware>
    <joint name="x">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="y">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="z">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="rx">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="ry">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="rz">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="thruster1_joint">
      <command_interface name="effort" />
    </joint>
    <joint name="thruster2_joint">
      <command_interface name="effort" />
    </joint>
    <joint name="thruster3_joint">
      <command_interface name="effort" />
    </joint>
    <joint name="thruster4_joint">
      <command_interface name="effort" />
    </joint>
    <joint name="thruster5_joint">
      <command_interface name="effort" />
    </joint>
    <joint name="thruster6_joint">
      <command_interface name="effort" />
    </joint>
    <joint name="thruster7_joint">
      <command_interface name="effort" />
    </joint>
    <joint name="thruster8_joint">
      <command_interface name="effort" />
    </joint>

  </ros2_control>

</robot>
