<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="testbot">

  <link name="base_footprint" />

  <link name="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <joint name="x" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="y" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="z" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="rx" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="ry" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="rz" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <ros2_control name="testing" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="calculate_dynamics">true</param>
    </hardware>
    <joint name="x">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="y">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="z">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="rx">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="ry">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
    <joint name="rz">
      <command_interface name="effort" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

</robot>
