<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="testbot">

  <link name="base_footprint" />

  <link name="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_1">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_2">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_3">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_4">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_5">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_6">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_7">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <link name="thruster_8">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </link>

  <!-- Cartesian Joints -->
  <joint name="x" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="yo" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="z" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="rx" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="ry" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <joint name="rz" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <!-- Thruster joints -->
  <joint name="thruster_1" type="continuous" ccw="true">
    <origin rpy="-1.571 1.571 -0.785" xyz="0.14 -0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster_1" />
    <axis xyz="0 0 -1" />
  </joint>

  <joint name="thruster_2" type="continuous" ccw="true">
    <origin rpy="-1.571 1.571 -2.356" xyz="0.14 0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster_2" />
    <axis xyz="0 0 -1" />
  </joint>

  <joint name="thruster_3" type="continuous" ccw="false">
    <origin rpy="-1.571 1.571 0.785" xyz="-0.15 -0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster_3" />
    <axis xyz="0 0 -1" />
  </joint>

  <joint name="thruster_4" type="continuous" ccw="false">
    <origin rpy="-1.571 1.571 2.356" xyz="-0.15 0.092 0.0" />
    <parent link="base_link" />
    <child link="thruster_4" />
    <axis xyz="0 0 -1" />
  </joint>

  <joint name="thruster_5" type="continuous" ccw="true">
    <origin rpy="0 0 0" xyz="0.118 -0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster_5" />
    <axis xyz="0 0 -1" />
  </joint>

  <joint name="thruster_6" type="continuous" ccw="false">
    <origin rpy="0 0 0" xyz="0.118 0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster_6" />
    <axis xyz="0 0 -1" />
  </joint>

  <joint name="thruster_7" type="continuous" ccw="false">
    <origin rpy="0 0 0" xyz="-0.118 -0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster_7" />
    <axis xyz="0 0 -1" />
  </joint>

  <joint name="thruster_8" type="continuous" ccw="true">
    <origin rpy="0 0 0" xyz="-0.118 0.215 0.064" />
    <parent link="base_link" />
    <child link="thruster_8" />
    <axis xyz="0 0 -1" />
  </joint>

  <ros2_control name="testing" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="calculate_dynamics">true</param>
    </hardware>
    <joint name="x">
      <state_interface name="velocity" />
      <command_interface name="velocity" />
    </joint>
    <joint name="y">
      <state_interface name="velocity" />
      <command_interface name="velocity" />
    </joint>
    <joint name="z">
      <state_interface name="velocity" />
      <command_interface name="velocity" />
    </joint>
    <joint name="rx">
      <state_interface name="velocity" />
      <command_interface name="velocity" />
    </joint>
    <joint name="ry">
      <state_interface name="velocity" />
      <command_interface name="velocity" />
    </joint>
    <joint name="rz">
      <state_interface name="velocity" />
      <command_interface name="velocity" />
    </joint>

    <joint name="thruster_1">
      <command_interface name="velocity" />
    </joint>
    <joint name="thruster_2">
      <command_interface name="velocity" />
    </joint>
    <joint name="thruster_3">
      <command_interface name="velocity" />
    </joint>
    <joint name="thruster_4">
      <command_interface name="velocity" />
    </joint>
    <joint name="thruster_5">
      <command_interface name="velocity" />
    </joint>
    <joint name="thruster_6">
      <command_interface name="velocity" />
    </joint>
    <joint name="thruster_7">
      <command_interface name="velocity" />
    </joint>
    <joint name="thruster_8">
      <command_interface name="velocity" />
    </joint>

  </ros2_control>

</robot>
